@page "/login"
@using FixItNow.Domain.Models.DTOs
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager Navigation
@inject IJSRuntime JS

<h3>Login</h3>

<input placeholder="Email" @bind="login.Email"/>
<input type="password" placeholder="Password" @bind="login.Password"/>

<button @onclick="HandleLogin">Login</button>

@code {
	private LoginDto login = new();
	private string errorMessage;

	private async Task HandleLogin()
	{
		var response = await Http.PostAsJsonAsync("https://localhost:7008/api/auth/login", login);

		if (response.IsSuccessStatusCode)
		{
			var result = await response.Content.ReadFromJsonAsync<UserResponse>();
			await JS.InvokeVoidAsync("localStorage.setItem", "user", System.Text.Json.JsonSerializer.Serialize(result));

			Navigation.NavigateTo("/create-ticket");
		}
		else
		{
			errorMessage = "Invalid email or password.";
		}
	}
	public class UserResponse
	{
		public int Id { get; set; }
		public string Email { get; set; }
		public string Role { get; set; }
	}
}
